[nz-carousel-content] {
  text-align: center;
  height: 10rem !important;
  line-height: 160px;
  background: #364d79;
  color: #fff;
}

.ant-carousel {
  .slick-list {
    height: 500px !important;
  }
}

.ant-carousel {
  height: 500px !important;
  @media (max-width: 450px) {
    height: 250px !important;
  }
}

.photograph {
  h4,p {
    color: white;
  }
}