<div class="services s2" id="services">
  <div class="container">
    <div class="col-md-3 about-grid text-center">
      <img src="../../../assets/images/pic3.jpg" class="img-responsive" alt=""/>
    </div>
    <div class="col-md-9 text-center">
      <p>Estudió Artes Plásticas en la Universidad del Cauca, vive y trabaja con la comunidad en Buenaventura. 
        Dentro de la diversidad de su práctica como artista dedica gran parte de su vida a mantener la tradición, 
        memoria y cultural del Pacifico Colombiano presente en cada una de sus obras.</p><br>
      <p>“Este trabajo mantiene una esencia cultural y tradicional del Pacífico llevando consigo la religiosidad católica
          que está ligada a las costumbres de la región pacífico Colombiano, realizando imágenes poéticas por medio de
          la fotografía donde personas de la comunidad son los grandes protagonistas a la cual aportaron su modo de
          vida real, combinándolos junto a imágenes iconográficas de la iglesia católica, haciendo una paráfrasis
          cargada de un simbolismo y una estética donde revelan y conservan conciencia de identidad que las
          distinguen de otros grupos étnicos.”</p>
    </div>
    <hr><br><br><br><br><br>
    <div class="container">
      <div class="page-header">
        <h1 id="timeline">Biografía</h1>
      </div>
      <ul class="timeline">
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading row">
              <div class="col-md-4">
                <h4 class="timeline-title">XXIV Exposición arte grabado</h4>
              </div>
              <div class="col-md-6 text-right"><strong>2009</strong></div>
            </div>
            <div class="timeline-body">
              <p class="text-justify">Sala de Exposiciones Contemporánea Universidad del Cauca.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading row">
              <div class="col-md-4">
                <h4 class="timeline-title">Exposición, I muestra de arte religioso contemporáneo nuevas miradas “Rituales y Fetichismo”</h4>
              </div>
              <div class="col-md-6 text-right"><strong>2009</strong></div>
            </div>
            <div class="timeline-body">
              <p class="text-justify">Sala de Exposiciones Contemporánea Universidad del Cauca.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading row">
              <div class="col-md-4">
                <h4 class="timeline-title">Exposición, Popayán Fotografía Contemporánea</h4>
              </div>
              <div class="col-md-6 text-right"><strong>2011</strong></div>
            </div>
            <div class="timeline-body">
              <p class="text-justify">Sala de Exposiciones Contemporánea Universidad del Cauca, 2011.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading row">
              <div class="col-md-4">
                <h4 class="timeline-title">Exposición, Imagen Regional 7</h4>
              </div>
              <div class="col-md-6 text-right"><strong>2011</strong></div>
            </div>
            <div class="timeline-body">
              <p class="text-justify">Sala de exposiciones Banco de la República Popayán.</p>
            </div>
          </div>
        </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading row">
                <div class="col-md-4">
                  <h4 class="timeline-title">Exposición, Imagen Regional 7</h4>
                </div>
                <div class="col-md-6 text-right"><strong>2012</strong></div>
              </div>
              <div class="timeline-body">
                <p class="text-justify">Sala de exposiciones Banco de la República Luis Ángel Arango, Bogotá 2012. 
                  Seleccionado para itinerancia a nivel nacional.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading row">
                <div class="col-md-4">
                  <h4 class="timeline-title">Exposición, Buenaventura Visión Sagrada del pacifico</h4>
                </div>
                <div class="col-md-6 text-right"><strong>2014</strong></div>
              </div>
              <div class="timeline-body">
                <p class="text-justify">Sala de Exposiciones Contemporánea Universidad del Cauca.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading row">
                <div class="col-md-4">
                  <h4 class="timeline-title">Exposición, Buenaventura Visión Sagrada del pacifico</h4>
                </div>
                <div class="col-md-6 text-right"><strong>2014</strong></div>
              </div>
              <div class="timeline-body">
                <p class="text-justify">Sala de Exposiciones Humberto Hernández, Centro Cultural Colombo Americano.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading row">
                <div class="col-md-4">
                  <h4 class="timeline-title">Exposición, Sincretismo Pacifico</h4>
                </div>
                <div class="col-md-6 text-right"><strong>2014</strong></div>
              </div>
              <div class="timeline-body">
                <p class="text-justify">Sala de exposiciones número 2, Centro Cultural de Cali.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading row">
                <div class="col-md-4">
                  <h4 class="timeline-title">Exposición, Buenaventura Visión Sagrada del Pacífico</h4>
                </div>
                <div class="col-md-6 text-right"><strong>2014</strong></div>
              </div>
              <div class="timeline-body">
                <p class="text-justify">Biblioteca Universidad Icesi.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading row">
                <div class="col-md-4">
                  <h4 class="timeline-title">Exposición, Visión Sagrada del Pacifico</h4>
                </div>
                <div class="col-md-6 text-right"><strong>2015</strong></div>
              </div>
              <div class="timeline-body">
                <p class="text-justify">Sala Carlos Drew Castro del Instituto Municipal de Cultura y Fomento al Turismo. Teatro Municipal Santiago Londoño.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading row">
                <div class="col-md-4">
                  <h4 class="timeline-title">Cumbre Mundial de Arte y Cultura para La Paz</h4>
                </div>
                <div class="col-md-6 text-right"><strong>2015</strong></div>
              </div>
              <div class="timeline-body">
                <p class="text-justify">Ponente en el panel del Arte como Alternativa de Resistencia, Teatro Bogotá.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading row">
                <div class="col-md-4">
                  <h4 class="timeline-title">Exposición, Visión Sagrada del Pacifico</h4>
                </div>
                <div class="col-md-6 text-right"><strong>2017</strong></div>
              </div>
              <div class="timeline-body">
                <p class="text-justify">Universidad Libre, Bogotá.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading row">
                <div class="col-md-4">
                  <h4 class="timeline-title">Exposición Descendimientos</h4>
                </div>
                <div class="col-md-6 text-right"><strong>2020</strong></div>
              </div>
              <div class="timeline-body">
                <p class="text-justify">Centro Cultural Alianza Francesa, Cali.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading row">
                <div class="col-md-4">
                  <h4 class="timeline-title">Exposición Colectiva</h4>
                </div>
                <div class="col-md-6 text-right"><strong>2022</strong></div>
              </div>
              <div class="timeline-body">
                <p class="text-justify">Paisajes de Buenaventura, Arte, vida y Resistencia. Museo nacional de colombia.</p>
              </div>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
